body {
  display: flex;
  gap: 200px;

  margin: 0;
  padding: 0;

  font-family: cursive;
}


button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.hide {
  display: none !important;
}


/* ----------- LIBRARY SECTOR ---------------- */
#library-sector {
  width: 80vw;


  display: grid;
  grid-auto-flow: column;
  grid-template-columns: max-content;
  gap: 50px;
}

.library-bar {
  display: flex;
  justify-content: center;
  
  width: 100vw;
  padding-bottom: 30px;
  padding-top: 30px;
  margin-bottom: 50px;

  background-color: #210124;
  color: white;

  font-family: cursive;
}

#books {
  display: grid;
  grid-template-columns: repeat(4, 300px);
  gap: 30px;
  width: 100%;
  margin-left: 50px;
}

.book {
  display: grid;

  width: 250px;
  height: 270px;
  padding: 20px;

  border-right: 8px solid #210124;
  border-left: 0px solid #210124;
  border-top: 8git px solid #210124;

  box-shadow: 5px 5px 5px 0px #9CA3AF;
}

.title-card-area {
  display: flex;
  justify-content: center;
  align-items: start;

  gap: 5px;  
}

.title {
  justify-self: center;
  background-color: #210124;
  width: 100%;

  margin: 0;
  height: 30px;

  text-align: center;
  
  color: white;
}
.book .remove-book-btn {
  align-self: start;
  justify-self: start;

  background-color: #210124;
  color: white;
  font-family: cursive;

  height: 30px;
  width: 30px;
}
.book .book-status {
  align-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: center;

  height: 50px;
  max-width: auto;

  margin: -20px;


  background-color: #210124;
  color: white;

  font-family: cursive;
  font-weight: 800;
}

#add-book-btn-area {
  display: grid;
  width: 250px;
  height: 310px;
}

.add-book-btn {
  justify-self: center;
  align-self: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;

  color: white;
  background-color: #210124;

  font-weight: 900;
}

.add-book-btn:hover {
  color: black;
  background-color: #FE9000;
}

/*---------- ADD BOOK FORM SECTOR -----------*/

#add-book-sector {
  position: absolute;
  left: 80vw;
  
  display: flex;
  flex-direction: column;

  width: 20vw;
  min-height: 100vh;

  color: white;
  background-color: #210124;
}

#close-column-btn {
  background-color: red;
  font-family: cursive;

  height: 30px;
  width: 30px;
}

.add-book-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.input-div {
  display: flex;
  justify-content: space-between;

  width: 90%;
}

.input-div input {
  justify-self: end;
}

.form-submit-btn {
  background-color: #FE9000;
  width: 75%;
  height: 40px;
}

.form-submit-btn:hover {
  opacity: 80%;
}




